@model CartViewModel


<form asp-action="AddToCart" asp-controller="Order" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-cart">
    <h1>Burgers</h1>
    @{
            <div class="form-burgers">

              
                 
                
                
                    @for (int i = 0; i < ViewBag.BurgerViewModels.Count; i++)
                    {
                        
                          <input type="hidden" asp-for="@Model.BurgerOrders[i].BurgerId" value="@ViewBag.BurgerViewModels[i].Id" />
                                <div class="card">
                                     <div class="product-card h-100">
                                      <img  src="@ViewBag.BurgerViewModels[i].Image" class="card-img-top" alt="...">
                                        <div class="card-body p-4">
                                          <div class="text-center">
                                            <h5 class="card-title">@ViewBag.BurgerViewModels[i].Name</h5>
                                                <p class="card-text">Price: @ViewBag.BurgerViewModels[i].Price.ToString("C", CultureInfo.CreateSpecificCulture("mk-MK"))</p>
                                                 <div class="checkbox-input">
                                                    <label asp-for="@Model.BurgerOrders[i].Selected" class="form-check-label">Add To Cart</label>
                                                    <input type="checkbox" asp-for="@Model.BurgerOrders[i].Selected" value="true" class="form-check-input" />
                                                    
                                                 </div>
                                                 <div class="quantity-form form-outline">
                                                    <label asp-for="@Model.BurgerOrders[i].Quantity" class="form-label">Quantuty</label>
                                                    <input type="number" asp-for="@Model.BurgerOrders[i].Quantity" value="1" min="1" class="form-control"/>
                                                 </div>
                                          </div>  
                                        </div>
                                     </div>
                                </div>    
                            
       
                    }
                
               
         </div>
    }
    <h1>Extra Items</h1>
      <div class="form-extras">
    @{
      
        for (int i = 0; i < ViewBag.ExtraViewModels.Count; i++)
        {
            <input type="hidden" asp-for="@Model.Extras[i].ExtraId" value="@ViewBag.ExtraViewModels[i].Id"/>
             
                         <div class="card">
                            <div class="product-card h-100">
                                   <img  src="@ViewBag.ExtraViewModels[i].Image" class="card-img-top" alt="...">
                                <div class="card-body p-4">
                                  <div class="text-center">
                                    <h5 class="card-title">@ViewBag.ExtraViewModels[i].Name</h5>
                                        <p class="card-text">Price: @ViewBag.ExtraViewModels[i].SizeId.Price.ToString("C", CultureInfo.CreateSpecificCulture("mk-MK"))</p>
                                        <div class="checkbox-input">
                                            <label asp-for="@Model.Extras[i].Selected" class="form-check-label">Add To Cart</label>
                                            <input type="checkbox" asp-for="@Model.Extras[i].Selected" value="true" class="form-check-input" />
                                        </div>
                                         <div class="quantity-form form-outline">
                                        
  
                                                <label asp-for="@Model.Extras[i].Quantity" class="form-label">Quantuty</label>
                                                
                                                <input type="number" asp-for="@Model.Extras[i].Quantity" value="1" min="1" class="form-control"/>
                                         </div>
                                  </div>  
                                </div>
                             </div>
                        </div> 
        }
       
    }
      </div>
      <br />
    <button type="submit" class="btn btn-primary">Make your order</button>
    </div>
</form>
