@using BurgerWebApp.DataAccess

@model List<OrderViewModel>

@foreach (var order in Model)
{
    <input type="hidden" asp-for="@order.CartId"/>
}

<table class="table table-hover">
       <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Address</th>
      <th scope="col">Location</th>
      <th scope="col">Order Details</th>
      <th scope="col">Full Price</th>
      <th scope="col">#</th>
    </tr>
  </thead>
@foreach (var item in Model)
{
  <tbody>
    <tr>
      <td>@item.Name @item.LastName</td>
      <td>@item.Address</td>
                    <td><a asp-action="Details" asp-controller="Location" asp-route-id="@item.Location.Id">@item.Location.Name</a></td>
      <td><a asp-action="CreateCartViewCart" asp-controller="Order" asp-route-id="@item.CartId">Order Details</a></td>
               
                
        <td>@item.TotalPrice.ToString("C", CultureInfo.CreateSpecificCulture("mk-MK"))</td>
       <td><a asp-action="DeleteOrder" asp-controller="Order" asp-route-id="@item.Id">Delete</a></td>          
    </tr>
  </tbody>
}
</table>