@{
    ViewData["Title"] = "Home Page";
}

@model List<BurgerViewModel>
<h1>Our Offers:</h1>
<div class="home-page">

    @foreach (var item in Model)
    {
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem; height:28em;">
                  <div class="card-body">
                    <h5 class="card-title text-muted">@item.Name</h5>
                    <img  src="@item.Image" class="card-img-top w-100" alt="...">
                    <h6 class="card-subtitle mb-2 text-muted mt-3">Price: @item.Price.ToString("C", CultureInfo.CreateSpecificCulture("mk-MK"))</h6>
                  </div>
        </div>
    }
</div>
    <h1 class="mt-3">Paired with some Extra items</h1>
    <div class="home-page">
    @foreach (var item in @ViewBag.Extras)
    {
         <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title text-muted">@item.Name</h5>
                    <img  src="@item.Image" class="card-img-top w-100" alt="...">
                    <h6 class="card-subtitle mb-2 text-muted mt-3">Price: @item.Size.Price.ToString("C", CultureInfo.CreateSpecificCulture("mk-MK"))</h6>
                  </div>
        </div>
    }
    </div>

